- description 'Lär dig programmering och webbutveckling på 12 veckor. Nomads Of Code Full Stack Bootcamp är en intensiv & praktiskt inriktad utbildning där man får man lära sig programmera i JavaScript, Ruby, HTML5, CSS, mm. Vi erbjuder våra utbildningar på distans med möklighet att jobba på utvalda coworkingplatser i Göteborg, Stockholm eller Malmö.'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_1.jpg')});"}
  .container
    .centered-row
      %h4.leader Vi brinner för utbildning
      %h1 Nomads Of Code
      %p
        %strong
          Nomads Of Code Full Stack Bootcamp är en intensiv kurs designad för att ta dig från noll till junior utecklare på bara 12 veckor. Vi som driver utbildningen är själva yrkesverksamma utvecklare med årtionden av erfarenhet inom applikationsutveckling och utbildning.
= partial :'our_mission'
= partial :'course_dates'
= partial :'what_you_get'
= partial :'apply'
